---
---

$serif: Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Open Sans", "DejaVu Sans", "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: "DejaVu Sans Mono", Consolas, "Lucida Console", monospace !default;

$global-font-family: $sans-serif;
$header-font-family: $sans-serif;
$caption-font-family: $sans-serif;

// // set font colors
// $link-color: #00fffc;
// $text-color: #cccccc;
// $background-color: #272727;

// // color palette for code highlighting
$base00: #fafafa;
$base01: #e0e0e0;
$base02: #d0d0d0;
$base03: #b0b0b0;
$base04: #000000;
$base05: #101010;
$base06: #151515;
$base07: #202020;
$base08: #ff0086;
$base09: #fd8900;
$base0a: #aba800;
$base0b: #00c918;
$base0c: #1faaaa;
$base0d: #3777e6;
$base0e: #ad00a1;
$base0f: #cc6633;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes";

// // "Blocksatz"
// .page__content {
//   text-align: justify;
// }

// Avoid left side gap caused by author profile space.
article.page {
  float: left;
  width: 100%;
}


// // make headers normal instead of bold
// h1, h2, h3, h4, h5, h6 {
//   font-weight: normal
// }


// set font size
html {
  font-size: 12px; // change to whatever

  @include breakpoint($medium) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 16px; // change to whatever
  }
}


